.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.group-container {
  display: flex;
  flex-direction: column;
}

.user-container {
  display: flex;
  flex-direction: column;
}

.create-inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
}

.negative-permissions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
