<div class="create-inputs">
  <div class="input-container">
    <label>User</label>
    <input placeholder="Name" type="text" [formControl]="userInput" />
    <button (click)="addUser()">Add User</button>
  </div>
  <div class="input-container">
    <label>Group</label>
    <input placeholder="Group" type="text" [formControl]="groupInput" />
    <button (click)="addGroup()">Add Group</button>
  </div>
  <div class="input-container">
    <label>Permission</label>
    <input
      placeholder="Permission"
      type="text"
      [formControl]="permissionInput"
    />
    <button (click)="addPermission()">Add Permission</button>
  </div>
</div>
<div class="content" role="main">
  <div class="group-container">
    <h2>Groups</h2>
    <app-group-row
      *ngFor="let group of groups"
      [group]="group"
      [permissions]="permissions"
      [users]="users"
      (deleteGroup)="deleteGroup($event)"
      (changeGroup)="changeGroup($event)"
    ></app-group-row>
  </div>
  <div class="user-container">
    <h2>Users</h2>
    <app-user-row
      *ngFor="let user of users"
      [user]="user"
      [permissions]="permissions"
      [groups]="groups"
      (deleteUser)="deleteUser($event)"
      (changeGroup)="changeGroup($event)"
    ></app-user-row>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
