<div class="root">
  <div class="header">
    <p>{{ user?.name }}</p>
    <button (click)="handleDeleteUser()">Delete user</button>
  </div>
  <div class="checkbox-section">
    <div class="checkbox-subsection">
      <label>Permissions</label>
      <mat-checkbox
        *ngFor="let permission of permissions"
        [disabled]="
          permissionFromGroup(permission) || negativePermission(permission)
        "
        [checked]="
          (user?.permissions?.includes(permission) ||
            permissionFromGroup(permission)) &&
          !negativePermission(permission)
        "
        (change)="setPermission($event.checked, permission)"
      >
        {{ permission }} {{ permissionFromGroup(permission) ? "*" : "" }}
        {{ negativePermission(permission) ? "(-)" : "" }}
      </mat-checkbox>
      <p *ngIf="permissions.length <= 0">No permissions</p>
    </div>
  </div>
</div>
